<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
      <mat-card >
          <form>
            <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4 " >
                  <label for="inputObservacion">Observacion</label>
                  <input type="text" class="form-control" id="inputObservacion" placeholder="Este cheque esta sin fondos">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4 ">
                  <label for="estadoClave">Estado Clave</label>
                  <input type="text" class="form-control" id="estadoClave" placeholder="____________">
                </div>
              </div>

             <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-2 " >
                  <label for="inputConsutla">N° Consulta</label>
                  <input type="text" class="form-control" id="inputConsulta" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
                  <label for="inputclaveCliente">Clave Cliente</label>
                  <input type="text" class="form-control" id="inputclaveCliente" placeholder="---------------">
                </div>
                <div class="form-group col-sm-6 col-md-2 col-lg-1 col-xl-1 " >
                  <label for="inputBanco">Banco</label>
                  <input type="text" class="form-control" id="inputBanco" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
                  <label for="inputCuentaCorriente">Cuenta Corriente</label>
                  <input type="text" class="form-control" id="inputCuentaCorriente" placeholder="---------------">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-2 " >
                  <label for="inputMontoCompra">Monto de Compra</label>
                  <input type="text" class="form-control" id="inputMontoCompra" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
                  <label for="inputRutGirador">Rut Girador</label>
                  <input type="text" class="form-control" id="inputRutGirador" placeholder="---------------">
                </div>
              </div>
              
              <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " >
                  <label for="inputTitular">Titular</label>
                  <input type="text" class="form-control" id="inputTitular" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2 col-xl-4 ">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <input type="text" class="form-control" placeholder="Fono Referencia">
                    </li>
                    <li class="list-group-item">                 
                  <input type="text" class="form-control" placeholder="Fono Referencia2">
                    </li>               
                  </ul>
                  
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " >
                  <ul class="list-group">
                    <li class="list-group-item">
                      <input type="text" class="form-control"  placeholder="Observacion Telefono 1">                      
                    </li>
                    <li class="list-group-item">                     
                      <input type="text" class="form-control"  placeholder="Observacion Telefono 2">
                    </li>               
                  </ul>
                  <!-- <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        Observacion Telefono
                        </mat-panel-title>
                        <mat-panel-description>
                         
                        </mat-panel-description>
                      </mat-expansion-panel-header>                     
                      <input type="text" class="form-control"  placeholder="Observacion Telefono 1">
                      <br>
                      <input type="text" class="form-control"  placeholder="Observacion Telefono 2">
                    </mat-expansion-panel>
                  </mat-accordion> -->
                  
                </div>               
              </div>
              
              <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-5 col-lg-4 col-xl-3 " >
                  <label for="inputObservacionTelefono2">Observacion Telefono 2</label>
                  <input type="text" class="form-control" id="inputObservacionTelefono2" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-2 col-lg-2 col-xl-1 ">
                  <label for="inputNumeroCheque">N°Cheque</label>
                  <input type="text" class="form-control" id="inputNumeroCheque" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-2 col-lg-2 col-xl-1 " >
                  <label for="inputMonto">Monto</label>
                  <input type="text" class="form-control" id="inputMonto" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-2 col-lg-3 col-xl-2 ">
                  <label for="inputFechaCheque">datepiker Fecha Cheque</label>
                  <input type="text" class="form-control" id="inputFechaCheque" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-7 col-lg-6 col-xl-5 ">
                  <label for="inputObservacionDeLaConsulta">Observacion de la inputConsulta</label>
                  <input type="text" class="form-control" id="inputObservacionDeLaConsulta" placeholder="____________">
                </div>
              </div>

              <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-3 col-lg-2 col-xl-1 " >
                  <br>
                  <button mat-button class="btn btn-primary">Agregar Cheque</button>
                </div>
                <div class="form-group col-sm-6 col-md-3 col-lg-2 col-xl-1 ">
                  <br>
                  <button mat-button class="btn btn-primary botonBordeIzquierda ">Respuesta RUT</button>
                </div>                
              </div>

              <div class="row">
                <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
                  <br>
                  <mat-card>
                    <table class="table">
                      <thead class="colorTabla ">
                        <tr>
                          <th class="text-light" scope="col">N° cheque</th>
                          <th class="text-light" scope="col">Fecha</th>
                          <th class="text-light" scope="col">Monto</th>
                          <th class="text-light" scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-card>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
                  <br>
                  <mat-card>
                    <ul class="list-group">
                      <li class="list-group-item active textoCentrado">Estado Cliente</li>
                      <li class="list-group-item">Cliente: </li>
                      <li class="list-group-item">Direccion: </li>
                      <li class="list-group-item">Ciudad: </li>
                      <li class="list-group-item">Telefono: </li>
                    </ul>
                  </mat-card>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1 " >
                  <br>
                  <button mat-button class="btn btn-primary">Garantizar</button>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1 ">
                  <br>
                  <button mat-button class="btn btn-primary botonBordeIzquierda2" >Eliminar</button>
                </div> 
                <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1" >
                  <br>
                  <button mat-button class="btn btn-primary botonBordeIzquierda4 ">Nueva Consulta</button>
                </div>                               
              </div>

              <br>
              <div class="row">
                
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4 " >
                  <label for="inputBanco">Banco</label>
                  <input type="text" class="form-control" id="inputBanco" placeholder="____________">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4 ">
                  <label for="inputRubroComercio">Rubro Comercio</label>
                  <input type="text" class="form-control" id="inputRubroComercio" placeholder="____________">
                </div>
              </div>
              
            </form>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
      <mat-card>
        <form (ngSubmit)="buscar()" autocomplete="off" >
          <input type="text"
                 name="termino"
                 class="form-control"
                 [(ngModel)]="termino"
                 placeholder="buscador">
        </form>
        <table class="table table-bordered table-hover">
          <thead class="colorTabla ">
            <tr>
              <th class="text-light" scope="col">N° cheque</th>
              <th class="text-light" scope="col">Fecha</th>
              <th class="text-light" scope="col">Monto</th>
              <th class="text-light" scope="col">Protesto</th>
              <th class="text-light" scope="col">Cantidad Protesto</th>
            </tr>
          </thead>
          <tbody  >
            <tr >              
              <td> </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>            
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
  <mat-card ></mat-card>
</div> -->