<div class="estadoCliente tamanio">
    <mat-card>
      <ul class="list-group">
        <li class="list-group-item colorTabla text-white textoCentrado">Estado Cliente</li>
        <li class="list-group-item list-group-item-action" (click)="cliente()">Cliente: </li>
        <li class="list-group-item list-group-item-action">Direccion: </li>
        <li class="list-group-item list-group-item-action">Ciudad: </li>
        <li class="list-group-item list-group-item-action">Telefono: </li>
      </ul>
    </mat-card>
  </div>