
<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <mat-toolbar>
        <h1>Consulta de Cheques</h1>
      </mat-toolbar>
      <mat-card class="alert alert-secondary">
          <form [formGroup]="consultaCheque">
            <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-5 " >
                  <label for="inputObservacion">Observacion</label>
                  <input type="text" class="form-control" formControlName="observacion"  id="inputObservacion" placeholder="Este cheque esta sin fondos" >
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-5 ">
                  <label for="estadoClave">Estado Clave</label>
                  <input type="text" class="form-control" formControlName="estadoClave" id="estadoClave" placeholder="Activa">
                </div>
              </div>

             <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 " >
                  <label for="inputConsutla">N° Consulta</label>
                  <input type="text" class="form-control" formControlName="numeroConsulta" id="inputConsulta" placeholder="N° 5468543">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                  <label for="inputclaveCliente">Clave Cliente</label>
                  <input type="text" class="form-control" formControlName="claveCliente" id="inputclaveCliente" placeholder="274585">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-2 col-xl-2 " >
                  <label for="inputBanco">Banco</label>
                  <input type="text" class="form-control" formControlName="banco" id="inputBanco" placeholder="76">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                  <label for="inputCuentaCorriente">Cnta Corriente</label>
                  <input type="text" class="form-control" formControlName="cuentaCorriente" id="inputCuentaCorriente" placeholder="000-5483845">
                </div>                            
              </div>
             <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " >
                  <label for="inputTitular">Titular</label>
                  <input type="text" class="form-control" formControlName="titular" id="inputTitular" placeholder="SalmonStack">
                </div>  
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-1" >
                    <label for="inputRutGirador">Rut Girador</label>                 
                      <input type="text" class="form-control" formControlName="rutGirador" id="inputRutGirador" placeholder="80.351.245"> 
                    </div>                     
                    <div class="form-group col-sm-1 col-md-1 col-lg-1 col-xl-1" >                                
                      <br>
                        <input type="text" class="form-control inputPequeno" formControlName="rutVerificador" id="inputVerificaRut" placeholder="k"
                        ng-model="inputdata" 
                        ng-keydown="$event.keyCode === 13 && searchItem()">
                      </div>
                    
                  <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-3 " >
                    <label for="inputMontoCompra">Monto de Compra</label>
                    <input type="text" class="form-control" formControlName="montoCompra" id="inputMontoCompra" placeholder="10000">
                  </div>  
                </div>
                  <br>
              <div class="row bordes">
                <div class="form-group col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
                  <br>
                  <mat-card class="alert alert-dark">
                    <mat-list role="list" >
                      <mat-list-item role="listitem">
                        <input type="text" class="form-control"formControlName="fonoReferencia1" placeholder="Fono Referencia">
                      </mat-list-item>                    
                      <mat-divider></mat-divider>
                      <mat-list-item role="listitem">                 
                    <input type="text" class="form-control" formControlName="fonoReferencia2" placeholder="Fono Referencia2">
                      </mat-list-item>               
                    </mat-list>                                        
                  </mat-card>
                  
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " >
                 <br>
                <mat-card class="alert alert-dark">
                    <mat-list role="list">
                      <mat-list-item role="listitem">                      
                        <input type="text" class="form-control"  formControlName="observacionTelefono1"  placeholder="Observacion Telefono 1">                      
                      </mat-list-item>    
                      <mat-divider></mat-divider>               
                      <mat-list-item role="listitem">                     
                        <input type="text" class="form-control" formControlName="observacionTelefono2"  placeholder="Observacion Telefono 2">
                      </mat-list-item>               
                    </mat-list>
                  </mat-card>
                </div>
             
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " > 
                            <br>    
                  <mat-card class=" alert alert-dark">
                    <mat-list rol="list">
                      <mat-list-item rol="list-item">
                        <button mat-button (click)="openDialog()" class="colorTabla btn btn-primary" style="width: 13vw; margin-left: -3%;">Ver detalle</button>
                        <button mat-button (click)="detalleCliente()" class="colorTabla btn btn-primary" style="width: 15vw; margin-left: 4%;">Detalle Cliente</button>
                      </mat-list-item>
                      <mat-divider></mat-divider>                      
                          <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Rut asociado a la cuenta <mat-icon #tooltip="matTooltip"
                                matTooltip="Desplegar Contenido"
                                matTooltipPosition="below">keyboard_arrow_down</mat-icon>
                              </mat-panel-title>                         
                            </mat-expansion-panel-header>
                            <table class="table table-bordered table-hover ">
                              <thead class="colorTabla ">
                                <tr>
                                  <th class="text-light" scope="col">Rut</th>
                                  <th class="text-light" scope="col">Digito</th>
                                  <th class="text-light" scope="col">Fecha Ingreso</th>                               
                                </tr>
                              </thead>
                              <tbody (click)="detalle()">
                                <tr >              
                                  <td> 2161261 </td>
                                  <td> k</td>
                                  <td> 60000</td>                                
                                </tr>     
                              </tbody>
                            </table>                          
                          </mat-expansion-panel>                               
                    </mat-list>     

                  </mat-card>
                </div>               
              </div>
              
              
              <br>
              <div class="row ">
               
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
    
                  <label for="inputNumeroCheque">N°Cheque</label>
                  <input type="text" class="form-control" formControlName="numeroCheque" id="inputNumeroCheque" placeholder="325216584">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 " >
          
                  <label for="inputMonto">Monto</label>
                  <input type="text" class="form-control" formControlName="monto" id="inputMonto" placeholder="10000">
                </div>                                  
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-4 "> 
    
                  <div>
                    <mat-form-field class="tamanio" appearance="fill" [formGroup]="fecha" >
                      <mat-label>Fecha Cheque</mat-label>
                      <input matInput formControlName="fechaCheque" [matDatepicker]="fechaCheque" class="col-sm-6 col-md-6 col-lg-6 col-xl-3">                   
                      <mat-datepicker-toggle matSuffix [for]="fechaCheque"></mat-datepicker-toggle>
                      <mat-datepicker #fechaCheque></mat-datepicker>
                    </mat-form-field>                      
                  </div>           
                  </div>          
              </div>

              <br>
              <div class="row bordes"  role="alert">
                <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4" >
                    <br>   
                   <button mat-button (click)="agregarCheque()" class="btn colorTabla btn-primary altito botoncito">Agregar Cheque</button>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4 ">                  
                    <br>
                    <button mat-button (click)="respuestaRut()" class="btn btn-primary colorTabla botonBordeIzquierda2 botoncito">Respuesta RUT</button>
                  </div>  
                  <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4 ">
                  <br>
                  <button mat-button (click)="agregarObservacion()" class="btn btn-primary colorTabla botonBordeIzquierda4 botoncito">Ingresar observacion 
                      <span class="badge badge-dark" style="background-color: red;" *ngIf="contadorObs">{{ cuentaObs }}</span>
                    </button>
                  </div>               
                </div>
                <br>
                <div class="row">
                <div class="alert alert-danger" role="alert" *ngIf="alertaObservacion">
              Debe ingresar una obserbacion
            </div>
              </div>
              <hr>              
              <div class="row bordes">
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 " >
                  <br>
                  <!-- <mat-card class="table-responsive alert alert-primary"> -->
                    <table class="table table-bordered table-hover " style="background-color: white;">
                      <thead class="colorTabla ">
                        <tr>
                          <th class="text-light" scope="col">N° cheque</th>
                          <th class="text-light" scope="col">Fecha</th>
                          <th class="text-light" scope="col">Monto</th>
                          <th class="text-light" scope="col">Protesto</th>
                          <th class="text-light" scope="col">Cantidad Protesto</th>   
                        </tr>
                      </thead>
                      <tbody (click)="detalle()">
                        <tr>              
                          <td> 2161261 </td>
                          <td> 20/10/2022</td>
                          <td> 60000</td>
                          <td> No</td>
                          <td> 0</td>
                        </tr>     
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>     
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>           
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>    
                      </tbody>
                    </table> 
                  <!-- </mat-card> -->
                </div>                
              </div>
         <hr>
              <div class="row bordes"  role="alert">          
                <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4 " >
                    <br>  
                    <button  mat-raised-button (click)="garantizar()" class="colorTabla btn btn-primary altito botoncito">Garantizar</button>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4 ">
                    <br>    
                    <button mat-button (click)="eliminar()" class="btn btn-primary colorTabla botonBordeIzquierda2 altito botoncito" >Eliminar</button>
                  </div> 
                  <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4" >
                    <br>
                    <button mat-button (click)="nuevaConsulta()" class="colorTabla btn btn-primary botonBordeIzquierda4 altito botoncito">Nueva Consulta</button>
                  </div>           
              </div>
              <hr>
              <br>
              <div class="row divGris">                
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 card alert alert-dark" >
                  <br>
                  <h1>Banco: <small class="bordes"> Banco del desarrollo monetario</small>  </h1>                
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 card alert alert-dark">
                  <br>
                  <h1 >Rubro Comercio: <small class="bordes"> Agricultura/pesca </small>  </h1>
                </div>
              </div>              
            </form>
      </mat-card>    
    </div>
    
   
       
    