
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <mat-toolbar>
        <h1>Consulta de Cheques</h1>
      </mat-toolbar>
      <mat-card class="alert alert-secondary">
          <form [formGroup]="consultaCheque" (ngSubmit)="agregarCheque()">
            <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-5 " >
                  <label for="inputObservacion">Observacion</label>
                  <input type="text" class="form-control form-control-sm" formControlName="observacion" autocomplete="off" id="inputObservacion" placeholder="Este cheque esta sin fondos" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['observacion'].errors">Debe ingresar una observacion</span>
                 
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2">
                  <label style="padding-left: 2%">Estado Clave</label>
                  <div>
                    <h3 class="border border-2 rounded-2" style="padding-left: 4%; height: 2%; margin-top: 1.6vw; background-color: white;" *ngIf="estadoClave=== 'Activo'; else noActivo">Estado Clave:  <span style="color: green;">{{ estadoClave }}</span> </h3>
                    <ng-template #noActivo>
                      <h3 class="border border-2 rounded-2" style="padding-left: 4%; height: 2%; background-color: white;"><span style="color: red">{{ estadoClave }}</span></h3>
                    </ng-template>
                  </div>
                  
                </div>
              </div>

             <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 " >
                  <label style="padding-left: 2%">Numero Consulta</label>
                  <h3  class="border border-2 rounded-1" style=" padding-left: 2%; height: 45%; background-color: white;"><span>{{ numeroConsulta }}</span> </h3>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                  <label for="inputclaveCliente">Clave Cliente</label>
                  <input type="text" class="form-control form-control-sm" autocomplete="off"  formControlName="claveCliente" id="inputclaveCliente" placeholder="274585" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['claveCliente'].errors">Debe ingresar una claveCLiente</span>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-2 col-xl-2 " >
                  <label for="inputBanco">Banco</label>
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="banco" id="inputBanco" placeholder="76" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['banco'].errors">Debe ingresar un banco</span>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                  <label for="inputCuentaCorriente">Cnta Corriente</label>
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="cuentaCorriente" id="inputCuentaCorriente" placeholder="000-5483845" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['cuentaCorriente'].errors">Debe ingresar una cuenta corriente</span>
                </div>                            
              </div>
             <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 " >
                  <label for="inputTitular">Titular</label>
                  <input type="text" class="form-control form-control-sm" autocomplete="off"  formControlName="titular" id="inputTitular" placeholder="SalmonStack" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['titular'].errors">Debe ingresar un titular</span>
                </div>  
                  <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2" >
                    <!-- <input type="text" formControlName="rut" id="esconder">
                    <form id="validacion-live"> -->
                      <div class="control-group">                    
                        <div class="controls">                        
                          <label for="rut">Rut Girador</label>
                          <!-- Tener en cuenta que si esta presionado el BloqDespl no podra escribir la k  -->
                          <input formControlName="rutGirador" class="form-control form-control-sm" (keyup)="validacionRut()" 
                                  id="rut" type="text" placeholder="14.569.484-1" autocomplete="off" required
                                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 107)"
                                  />
                                  <!-- <span class="form-text text-danger" *ngIf="consultaCheque.controls['rutGirador'].errors" >Ingrese un rut valido || {{ this.consultaCheque.controls['estadoClave'].valid }}</span>   -->
                          <div class="form-text text-danger" *ngIf="esValido">Debe ingresar un rut valido</div>
                          <div class="form-text text-success" *ngIf="rutValido">Rut Valido</div>            
                        </div>
                      </div>

                    </div>                   
                  <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-3 " >
                    <label for="inputMontoCompra">Monto de Compra</label>
                    <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="montoCompra" id="inputMontoCompra" placeholder="10000" required>
                    <span class="form-text text-danger" *ngIf="consultaCheque.controls['montoCompra'].errors">Debe ingresar un monto de compra</span>
                  </div> 
                  
                  <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-3 ">
                          
                  </div>
                </div>
                  <br>
              <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-4 " >
                  <label for="inputConsutla">Telefono 1
                  </label>
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="telefono1" id="inputTelefono" placeholder="N° 5468543" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['telefono1'].errors">Debe ingresar un telefono </span>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-4 " >
                  <label for="inputConsutla">telefono 2</label>
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="telefono2" id="inputTelefono2" placeholder="N° 5468543" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['telefono2'].errors">Debe ingresar un telefono 2</span>
                </div>                
               
                <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 bordes " > 
                      
                    <mat-list rol="list">
                      <mat-list-item rol="list-item">
                        <button mat-button (click)="openDialog()" [disabled]="detalleCargado === 1" class="colorTabla btn btn-primary" style="width: 13vw; margin-left: -3%;">Ver detalle
                          <span class="badge badge-dark" style="background-color: green;" *ngIf="detalleCargado === 2" ><mat-icon>done</mat-icon></span>
                          <span class="badge badge-dark" style="background-color: #F70C00;" *ngIf="detalleCargado === 3" ><mat-icon>close</mat-icon></span>
                          <span class="badge badge-dark" style="background-color: #FAE00D;" *ngIf="detalleCargado === 4" ><mat-icon style="color: gray">warning_amber</mat-icon></span>
                        </button> 
                        <button mat-button (click)="detalleCliente()" [disabled]="detalleCli === 1" class="colorTabla btn btn-primary" style="width: 15vw; margin-left: 4%;">Detalle Cliente
                          <span class="badge badge-dark" style="background-color: green;" *ngIf="detalleCli === 2" ><mat-icon>done</mat-icon></span>
                          <span class="badge badge-dark" style="background-color: #F70C00;" *ngIf="detalleCli === 3" ><mat-icon>close</mat-icon></span>
                          <span class="badge badge-dark" style="background-color: #FAE00D;" *ngIf="detalleCli === 4" ><mat-icon style="color: gray">warning_amber</mat-icon></span>
                        </button>
                      </mat-list-item>          
                    </mat-list>
                </div>               
              </div>
              
              <br>
              <div class="row ">
               <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
                  <label for="inputNumeroCheque">N°Cheque</label>
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="numeroCheque" id="inputNumeroCheque" placeholder="325216584" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['numeroCheque'].errors">Debe ingresar un n° de cheque</span>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3 " >
                  <label for="inputNumeroCheque">Monto</label>                  
                  <input type="number" class="form-control form-control-sm" autocomplete="off"  formControlName="monto" id="inputMonto" placeholder="325216584" required>
                  <span class="form-text text-danger" *ngIf="consultaCheque.controls['monto'].errors">Debe ingresar un monto</span>
                </div>                
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-4 "> 
                  <div>
                    <mat-form-field class="tamanio" [formGroup]="fecha" >
                      <mat-label>Fecha Cheque</mat-label>
                      <input matInput formControlName="fechaCheque" [matDatepicker]="fechaCheque" class="col-sm-6 col-md-6 col-lg-6 col-xl-3">                   
                      <mat-datepicker-toggle matSuffix [for]="fechaCheque"></mat-datepicker-toggle>
                      <mat-datepicker #fechaCheque></mat-datepicker>
                    </mat-form-field>         
                  </div>
                  <div class="alert alert-danger" style="width: 15vw; height: 3.5vw; margin-left: 5%;" role="alert" *ngIf="!campoFecha">
                    Debe ingresar una fecha
                  </div>           
                  </div>          
              </div>
              <br>
              <div class="row bordes"  role="alert">
                <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4" >
                    <br>   
                   <button mat-button (click)="agregarCheque()" class="btn colorTabla btn-primary altito botoncito"  [disabled]="consultaCheque.invalid" *ngIf="consultaCheque.invalid; else agregar" >Agregar Cheque</button>
                  <ng-template #agregar>
                    <button mat-button (click)="agregarCheque()" class="btn colorTabla btn-primary altito botoncito" style="background-color: green;"><mat-icon style="padding-right: 1%;">add</mat-icon>Agregar Cheque</button>
                  </ng-template>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4 ">                  
                    <br>
                    <button mat-button (click)="respuestaRut()" style="background-color: #FFE866; color: grey" class="btn btn-primary botonBordeIzquierda2 botoncito"><mat-icon>question_mark</mat-icon> Respuesta RUT </button>
                  </div>  
                  <div class="form-group col-sm-6 col-md-3 col-lg-4 col-xl-4 ">
                  <br>
                  <ng-template #obsValido>
                    <button mat-button (click)="agregarObservacion()"  class="btn btn-primary colorTabla botonBordeIzquierda4 botoncito">Ingresar observacion 
                      <span class="badge badge-dark" style="background-color: green;" ><mat-icon>done</mat-icon></span>
                    </button>
                  </ng-template>                  
                  <button mat-button (click)="agregarObservacion()" *ngIf="alertaObservacion; else obsValido" style="background-color: #F9534B; color: whitesmoke" class="btn btn-primary colorTabla botonBordeIzquierda4 botoncito"><mat-icon style="margin-right: 2%;">add_box</mat-icon>Ingresar observacion 
                  </button>
                  </div>               
                </div>
                <br>
                <div class="row">
                <div class="alert alert-danger" role="alert" *ngIf="alertaObservacion">
              Debe ingresar una obserbacion
            </div>
              </div>
              <hr>              
              <div class="row bordes">
                <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
                  <br>              
                    <table class="table table-bordered table-hover " style="background-color: white;">
                      <thead class="colorTabla ">
                        <tr>
                          <th class="text-light" scope="col">N° cheque</th>
                          <th class="text-light" scope="col">Fecha</th>
                          <th class="text-light" scope="col">Monto</th>
                          <th class="text-light" scope="col">Protesto</th>
                          <th class="text-light" scope="col">Cantidad Protesto</th>   
                        </tr>
                      </thead>
                      <tbody (click)="detalle()">
                        <tr>              
                          <td> 2161261 </td>
                          <td> 20/10/2022</td>
                          <td> 60000</td>
                          <td> No</td>
                          <td> 0</td>
                        </tr>     
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>     
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>           
                        <tr >              
                          <td> 21651212 </td>
                          <td> 25/10/2022</td>
                          <td> 40000</td>
                          <td> Si</td>
                          <td> 50</td>
                        </tr>    
                      </tbody>
                    </table> 
               </div>                
                <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
                  <br>                 
                  <mat-expansion-panel  hideToggle *ngIf="representante === 1" (click)="agregarRepresentante()">                    
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3 style="margin-top: 3%; color: black;">Representante legal no encontrado </h3><mat-icon style="background-color: red; color: white; margin-left: 2%;">close</mat-icon>
                      </mat-panel-title>                         
                    </mat-expansion-panel-header>                                          
                  </mat-expansion-panel>                 
                    <mat-expansion-panel hideToggle *ngIf="representante === 2" >                    
                      <mat-expansion-panel-header >
                        <mat-panel-title ><h3 style="margin-top: 3%; color:black;" class="textoEx">Representante Legal</h3>
                       <mat-icon #tooltip="matTooltip" 
                          matTooltip="Desplegar Representante"
                          matTooltipPosition="below">keyboard_arrow_down</mat-icon>
                          <span *ngIf="consultaCheque.controls['rutGirador'].valid" class="badge badge-dark" style="background-color: green; margin-left: 2%;" ><mat-icon>done</mat-icon></span>
                        </mat-panel-title>                         
                      </mat-expansion-panel-header>
                      <table class="table table-bordered table-hover " style="background-color: white;">
                        <thead class="colorTabla ">
                          <tr>
                            <th class="text-light" scope="col">Nombre</th>
                            <th class="text-light" scope="col">Telefono</th>
                            <th class="text-light" scope="col">Otro dato</th>                               
                          </tr>
                        </thead>
                        <tbody (click)="detalle()">
                          <tr >              
                            <td> 2161261 </td>
                            <td> k</td>
                            <td> 9999999999</td>                                
                          </tr>     
                        </tbody>
                      </table>                          
                    </mat-expansion-panel>
                </div>
              </div>
              <hr>
              <div class="row bordes"  role="alert">          
                <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4 " >
                    <br>  
                    <button  mat-raised-button (click)="garantizar()" style="background-color: green;" class="colorTabla btn btn-primary altito botoncito"><mat-icon>done_all</mat-icon> Garantizar</button>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4 ">
                    <br>    
                    <button mat-button (click)="eliminar()" style="background-color: #F9534B;" class="btn btn-primary colorTabla botonBordeIzquierda2 altito botoncito" ><mat-icon>delete_forever</mat-icon> Eliminar</button>
                  </div> 
                  <div class="col-sm-6 col-md-3 col-lg-4 col-xl-4" >
                    <br>
                    <button mat-button (click)="nuevaConsulta()"  class="colorTabla btn btn-primary botonBordeIzquierda4 altito botoncito"><mat-icon style="margin-right: 2%;">library_add</mat-icon>Nueva Consulta 
                    </button>
                  </div>           
              </div>
              <hr>
              <br>          
            </form>
      </mat-card>    
    </div>

  

   